@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(34,195,177);
    background: linear-gradient(146deg, rgba(34,195,177,1) 0%, rgba(253,187,45,1) 100%);
    font-family: 'Poppins', sans-serif;
    
}    
.Main{
    height: 42rem;
    width: 40rem;
    border: 0px solid #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.form-box{
margin-top: 10px;
display: flex;
flex-direction: column;
}
h1{
    text-shadow: -1px 1px 3px rgba(0, 0, 0, 0.83);
}
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
select,textarea{
    background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 8px;
  width: 500px;
  background-color: #e8eeef;
  color: #393939;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  
}
.light{
    font-size: 12px;
}

.Submit {
   outline: none;
   border: none;
   width: 100px;
   padding: 12px;
   font-size: 16px;
   margin-bottom: 20px;
   border-radius: 10px;
   align-self: center;
}
label{
    text-shadow: -1px 1px 3px rgba(0, 0, 0, 0.83);
}
.Submit:hover{
    background: rgb(34,195,177);
    background: linear-gradient(146deg, rgba(34,195,177,1) 0%, rgba(253,187,45,1) 100%);
    text-shadow: -1px 1px 3px rgba(0, 0, 0, 0.83);
   color:white;
   cursor: pointer;
  }
@media screen and (min-width: 480px) {

    form {
      max-width: 480px;
    }
}